@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --toast-bg: #ffffff;
    --toast-color: #0f172a;
    --toast-border: #e2e8f0;
  }

  .dark {
    --toast-bg: #1e293b;
    --toast-color: #f1f5f9;
    --toast-border: #334155;
  }
}

body {
  @apply bg-white dark:bg-secondary-950 text-secondary-900 dark:text-secondary-100;
}
